    // $primaryColor: #9917fc;
    $primaryColor: #9200ff;
    %flex-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #loader {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: white;
        @extend %flex-box;
        z-index: 9999;
    }
    
    #load {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        overflow: hidden;
    }
    
    body {
        overflow-x: hidden;
        font-family: 'Raleway', sans-serif;
    }
    
    .header {
        width: 100vw;
        background: white;
        text-align: center;
        padding: 0% 10%;
    }
    
    #logo {
        height: 60px;
        margin: 20px 120px;
    }
    
    .headline {
        width: 100%;
        height: 80%;
        color: rgb(66, 65, 65);
        z-index: 2;
        @extend %flex-box;
        img {
            margin-top: 30px;
            // height: 350px;
            width: auto;
            z-index: 2;
        }
        h1 {
            // font-size: 50px;
        }
        h3 {
            margin-top: 30px;
            // font-size: 30px;
        }
    }
    
    #hero {
        margin-top: 0px;
        // width: 60%;
        height: auto;
    }
    
    .introduction {
        margin-top: -5px;
        width: 100vw;
        @extend %flex-box;
        background: $primaryColor;
        color: white;
        text-align: center;
        h3 {
            font-size: 30px;
            font-weight: bold;
        }
        h4 {
            font-size: 22px;
        }
    }
    
    .skills-main {
        margin-top: -150px;
        width: 100%;
        display: flex;
        justify-content: center;
        .skills {
            width: 80%;
            background: white;
            border-radius: 20px;
            border: 0.3px solid $primaryColor;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            // height: 500px;
            .col-md-4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 80px 20px;
                font-size: 20px;
                text-align: center;
            }
            h3 {
                color: $primaryColor;
            }
            i {
                color: $primaryColor;
                font-size: 60px;
                margin-bottom: 20px;
            }
        }
    }
    
    .projects {
        margin-top: 50px;
        // padding: 100px 200px;
        .project-card {
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            overflow: hidden;
            padding: 0;
            padding: 10px;
            .project-img {
                // height: 400px;
                width: 100%;
                overflow: hidden;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .carousel {
                height: 100%;
                width: 100%;
                overflow: hidden;
                @extend %flex-box;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .project-detail {
                padding: 50px;
                // height: 400px;
                @extend %flex-box;
                text-align: center;
                .btn {
                    margin-top: 10px;
                }
            }
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            height: 100px;
            width: 100px;
            background-size: 100%, 100%;
            // border-radius: 50%;
            // border: 1px solid black;
            background-image: none;
        }
        .carousel-control-next-icon:after {
            content: '>';
            font-size: 55px;
            color: #333;
        }
        .carousel-control-prev-icon:after {
            content: '<';
            font-size: 55px;
            color: #333;
        }
    }
    
    .achievements {
        .row {
            margin: 0;
            padding: 0;
        }
        .col-md-6 {
            margin: 0;
            padding: 0;
        }
        text-align: center;
        width: 100vw;
        // background: $primaryColor;
        color: rgb(44, 44, 44);
        // padding: 100px 200px;
        h3 {
            margin-bottom: 50px;
        }
        .achievement-card {
            width: 95%;
            height: 200px;
            overflow: hidden;
            // background: #333;
            // background: rgb(97, 97, 97);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 10px;
            .ach-img {
                width: 40%;
                height: 100%;
                float: left;
                background: rgb(68, 68, 68);
                @extend %flex-box;
                color: white;
                h2 {
                    font-size: 40px;
                    margin-top: 10px;
                }
                i {
                    color: white;
                    font-size: 60px;
                }
                img {
                    height: 100px;
                }
            }
            .ach-detail {
                width: 60%;
                height: 100%;
                background: rgb(255, 255, 255);
                float: left;
                color: #333;
                padding: 30px;
                @extend %flex-box;
            }
        }
    }
    
    .robotics-projects {
        text-align: center;
        margin: 20px;
        // padding: 50px 8%;
        h3 {
            margin-bottom: 30px;
        }
        .robotics-card {
            width: 100%;
            height: 350px;
            // background: #333;
            margin-top: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            overflow: hidden;
        }
        .card1 {
            background: url('../img/RoboticsProjects/img1.jpg');
            background-size: cover;
        }
        .card2 {
            background: url('../img/RoboticsProjects/img2.jpg');
            background-size: cover;
            background-position: -40px 0px;
        }
        .card3 {
            background: url('../img/RoboticsProjects/img3.png');
            background-size: cover;
            background-position: -40px 0px;
        }
        .card4 {
            background: url('../img/RoboticsProjects/img4.jpg');
            background-size: cover;
            background-position: -120px 0px;
        }
        .card5 {
            background: url('../img/RoboticsProjects/img5.jpg');
            background-size: cover;
            background-position: -120px 0px;
        }
        .card6 {
            background: url('../img/RoboticsProjects/img6.jpg');
            background-size: cover;
            background-position: -40px 0px;
        }
        .filter {
            width: 100%;
            height: 100%;
            background: rgba(61, 61, 61, 0.178);
            position: relative;
        }
        .robot-content {
            position: absolute;
            top: 80%;
            left: 0;
            font-size: 20px;
            width: 100%;
            height: 100%;
            background: rgba(142, 85, 247, 0.644);
            transition: top 1s;
            .robot-name {
                background: $primaryColor;
                height: 20%;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .robot-description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                height: 80%;
                color: white;
                font-size: 16px;
                a {
                    margin-top: 10px;
                    color: white;
                    text-decoration: none;
                    background: #333;
                    border-radius: 30px;
                    padding: 10px 20px;
                    font-size: 16px;
                }
            }
        }
        .robotics-card:hover .robot-content {
            top: 0;
            .robot-name {
                background: none;
            }
        }
    }
    
    .footer {
        height: 600px;
        background: white;
        position: relative;
        @extend %flex-box;
        .contact {
            width: 80%;
            height: 60%;
            background: $primaryColor;
            // background: rgb(83, 83, 83);
            // background: #cd9eef;
            color: white;
            // color: rgb(255, 255, 255);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            h5 {
                font-size: 1.5vw;
            }
            .col-md-6 {
                @extend %flex-box;
            }
            i {
                color: white;
                font-size: 40px;
                margin: 5px;
            }
        }
        .logo {
            position: absolute;
            top: 50;
            left: 50;
            height: 400px;
            width: 400px;
            background: white;
            border-radius: 200px;
            @extend %flex-box;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            img {
                margin-top: 20px;
                width: 80%;
            }
        }
    }
    
    .copyright {
        text-align: center;
        padding: 30px;
        font-size: 20px;
        color: #333;
    }
    
    @import 'responsive';